.artist-view {
  text-align: center;
}
.artist-view__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
  width: 10%;
}
.artist-view__header {
  background-color: #222;
  width: 100%;
  height: 80px;
  padding: 5px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.artist-view__info{
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: left;
  width: 68%;
  height: 100px;
}
.artist-view__info-logo{
  width: 12%;
  height: 100%;
  float: left;
  border: 1px solid black;
}
.artist-view__info-title{
  width: 42%;
  height: 100%;
  padding-left: 120px;
}
.artist-view__search{
	padding-left: 900px;
	padding-right: 0px;
	padding-top: 10px;
}
.artist-view__search-query {
	margin-left: -60px;
  padding-left: 25px;
  width: 80%;
  height: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #000000;
}
.artist-view__search:before {
  content: '';
  display: block;
  width: 19px;
  height: 17px;
  background-image: url("../../assets/lupa.jpg");
  background-position: -50px 0;
  background-size: cover;
  background-position: left;
  position: relative;
  top: 20px;
  left: 6px;
  opacity: .5;
  z-index: 1000;
}
.artist-view__results{
	padding-left: 400px;
	padding-right: 400px;
	padding-top: 10px;
  padding-bottom: 10px;
	text-align: left;
}
li {
    display: inline-block;
    margin: 0px 2px;
}
.artist-view__nav{
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 0px;
  text-align: left;
  text-align: left;
}
hr{
  border-top: 3px solid #000000;
}
.artist-view__footer{
  width: 100%;
  height: 10px;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
}

/*------------------*/

.box{
    display: inline-block;
    width: 45%;
    height: 90px;
    border: 1px solid black;
    margin-right: 9px;
    margin-bottom: 5px;
    background-color: white;
}
.box-img{
    height: 87%;
    width: 40%;
    border: 1px solid black;
    float: left;
    margin: 5px;
}
.box img{
    height: 100%;
    width: 100%;
    text-align: center;
}
.box-title{
    height: 87%;
    width: 51%;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 1px;
}
.box-nombre-title{
    height: 10%;
    width: 100%;
    text-align: left;
    margin-left: 2px;
    margin-top: 15px;
    font-size: small;
}